body {
    padding: 0;
    margin: 0;
    background: #e8e8e8;
    font-family: 'Droid Sans', 'PT Sans', serif;
    font-size: 14.5px;
}

.wrapper {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.content {
    padding: 0;
    margin-top: -20px;
    background: #e8e8e8;
    height: 100%;
    color: #000;
}

.content {
    padding-top: 70px;
}

.content h4 {
    color: #990000;
    padding: 10px 16px;
    font-family: 'PT Sans', 'Droid Sans', serif;
}

.content h5 {
    padding: 10px 16px;
    font-family: 'PT Sans', 'Droid Sans', serif;
}

.content p {
    color: #3d3d3b;
    padding: 10px 16px;
}

.navbar-default .navbar-brand {
    color: #e77500;
    font-family: 'PT Sans', 'Droid Sans', serif;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'PT Sans', 'Droid Sans', serif;
    color: #000;
}

.navbar-default .navbar-nav > .active > a {
    color: #000;
    background-image: linear-gradient(to bottom,#e8e8e8 0,#e8e8e8 0);
}

.navbar-default .navbar-toggle .icon-bar {
    color: #000;
    background-color: #000;
    border-color: #000;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default {
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    border-bottom: 1.5px solid #000;
}

#html {
    float: right;
}

.skills {
    padding: 10px;
    margin: 10px;
}

.panel .panel-default {
    width: 360px;
}

.panel-heading {
    border-bottom: 1px solid black;
    text-align: left;
    color: #e77500;
    font-family: 'PT Sans', 'Droid Sans', sans-serif;
    font-size: 16px;
    margin: 0 15px;
    padding: 10px 0;
}

.panel-body {
    color: #000;
    font-family: 'Droid Sans', 'PT Sans', sans-serif;
    font-size: 14.5px;
}

.btn-container {
    margin: 10px auto 10px auto;
    padding: auto;
    text-align: center;
    width: 90%;
}

.btn-style {
  background: #e8e8e8;
  color: #000;
  font-family: 'Droid Sans', 'PT Sans', sans-serif;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #e8e8e8;
}

.box {
    background: #fff;
    padding: 10px 10px;
    margin: 10px 0 15px 0;
    box-shadow: 2px 2px 10px #515150;
}

.blog-title {
    border-bottom: 1px solid black;
    text-align: left;
    color: #e77500;
    font-family: 'PT Sans', 'Droid Sans', sans-serif;
    font-size: 16px;
    margin: 0 15px;
    padding: 10px 0;
}

.blog-img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (min-width: 940px) {
    .col-centered {
        float: none;
        margin: 0 auto;
        width: 1170px;
    }

    .blog-img {
      width: 700px;
    }
}

@media screen and (min-width: 560px) {
    /*.col-centered {
        float: none;
        margin: 0 auto;
        width: 500px;
    }*/

    .col-sm-3 {
        width: 50%;
        float: left;
    }
}

@media screen and (min-width: 768px) {
    .col-centered {
        float: none;
        margin: 0 auto;
        width: 760px;
    }

    .col-sm-3 {
        width: 50%;
    }

}

@media screen and (min-width: 992px) {
    .col-centered {
        float: none;
        margin: 0 auto;
        width: 970px;
    }

    .col-sm-3 {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .col-centered {
        float: none;
        margin: 0 auto;
        width: 1170px;
    }

    .col-sm-3 {
        width: 25%;
    }
}

@media screen and (max-width: 992px) {
    .blog-sidebar {
      display: none;
    }

}
